.scroller {
  padding-top: 30px;
  display: flex;
  overflow: hidden; /* Prevent horizontal scrollbar */
  width: 75%; /* Set to 60% of the screen width */
  position: relative;
  margin: 0 auto; /* Center the scroller horizontally */
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.scroller__inner {
  display: flex;
  width: fit-content; /* Ensures it adjusts to the width of the images */
}

.scroller__inner img {
  width: 150px; /* Image size */
  height: 150px;
  object-fit: cover; /* Ensure images fit properly */
  margin-right: 20px; /* Space between images */
}
@media screen and (max-width: 768px) {
  .scroller {
    width: 90%; /* Rohkem ruumi väiksematel ekraanidel */
    padding-top: 20px; /* Vähem vahet ülemise äärega */
  }

  .scroller__inner img {
    width: 100px; /* Väiksem pilt mobiiliekraanidel */
    height: 100px;
    margin-right: 10px; /* Väiksem vahe piltide vahel */
  }
}
